/* Generals */

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    align-items: center;
}
   

h1{ 
    color: orange;
}

h2{
    color: violet;
}

h3{
    color: black;
    font-size: 20px;
}

img{
    width: 38%;
    align-items: center;
    justify-content: center;
}





h5{
    color: white;
}

.container {
    max-width: 1160px;
    margin: 5%;
}


/* Media Query */

@media screen and (min-width: 768px){

}

@media screen and(min-width: 992px){
    
}